.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  font-family: "Bangers", cursive;

  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  will-change: transform, box-shadow;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.species {
  font-size: 16px;
  color: #666;
  text-align: center;
}
